<body>
<header> 
 <div class="header1">

<div class="nav">
  <input type="checkbox">
    <span></span>
    <span></span>
    <div class="menu">
      <li><a href="#">besyari</a></li>
      <li><a href="#">magazine</a></li>
      <li><a href="#">besyariとは？</a></li>
      <li><a href="#">record</a></li>
      <li><a href="#">news</a></li>
    </div>
</div>

 <div class="flex flex--column flex--gap flex--row@sm">
  <button class="btn btn--subtle">新規登録</button>
  <button class="btn btn--primary">ログイン</button>
</div> 
   
 
</header>



 <div class="title1">
 <p class="subtitle">意識は高い方が良い</p>
 <p class="subtitle2">ディスカッションツール</p>
 <h1>Besyari</h1> 

<body onload="Loopmsg()">
<div id="tbox"></div>
</body>

<div class="photo1"></div>

 </div>


    <main>
        <div class="content">
            <p>コンテンツ</p>
           
        </div>
        <div class="localNavigation">
            <p>ローカルナビゲーション</p>
        </div>
    </main>

 <footer class="footer1">
 </footer>

<ul>
<% @posts.each do |post| %>
<li><%= post.title %></li>
<% end %>
<p>jQuery稼働テスト</p>
<script type="text/javascript"></script>
</ul>



</body>


