/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 
 body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 0;
   background-color: #000;
}

 header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   transition: .3s;
 }


 #besyari{
    color: #000000;
   position: absolute;
   top:590px;
   left: 0;
    font-size: 100px;
    text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00, 0 0 40px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;

 }

 #currentTime {
   
  
      position: relative;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
      top:260px;
      letter-spacing: 2px;
      color: yellow;
      text-shadow: 0 0 1px, 0 0 1.2px, -1px -1px 1px #300, 0 -1px 1px #300, 1px -1px 1px #300, 1px 0 1px #300, 1px 1px 1px #300, 0 1px 1px #300, -1px 1px 1px #300, -1px 0 1px #300, 0 0 1.6px;
      filter: contrast(1.5)
    }
    
    
    

ul {
   text-align: right;
   font-size: 0%;
 }
  
 
 li {
   display: inline-block;
   font-size: 12px;
   height: 40px;
   width: 10%;
   text-align: center;
 }  

 li a{
    color: #000;
    }


    .flex { display: flex; 
      float: right;
      padding: 0 50px 30px 0;
   }
    .flex--column { flex-direction: column; }
    .flex--gap { margin: 0 -0.25em -0.5em; }
    .flex--gap > * { margin: 0 0.25em 0.5em; }
    @media (min-width: 37.5rem) {
     .flex--row\@sm { flex-direction: row; }
    }
    


.title1{
   background: url('earth.jpg');
   width: 100%;
   height: 750px;
   background-size: cover;
  /* filter:grayscale(100%) ;
  transition: all 15s ease-out;*/
}
/*.title1:hover{
  filter:none
}*/

#tbox{
   position: absolute;
   top:780px;
   left: 42%;
    color:#FFF;
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1;
   text-shadow: 0 0 10px #fffed6, 0 0 20px #fffed6, 0 0 30px #fffed6, 0 0 40px #fffed6, 0 0 70px #fffed6, 0 0 80px #fffed6, 0 0 100px #fffed6, 0 0 150px #fffed6;

}

.subtitle{
   position: absolute;
   top:540px;
   left: 6%;
   color: #FFF;
   /*text-shadow: 0 0 10px #fffed6, 0 0 20px #fffed6, 0 0 30px #fffed6, 0 0 40px #fffed6, 0 0 70px #fffed6, 0 0 80px #fffed6, 0 0 100px #fffed6, 0 0 150px #fffed6;*/
}

.subtitle2{
   position: absolute;
   top:570px;
   left: 9%;
   color: #FFF;
   text-shadow: 0 0 10px #fffed6, 0 0 20px #fffed6, 0 0 30px #fffed6, 0 0 40px #fffed6, 0 0 70px #fffed6, 0 0 80px #fffed6, 0 0 100px #fffed6, 0 0 150px #fffed6;

}

main{
   display: flex;
   min-height: 100vh;
   margin: 10px 0 10px 0;
}
.content{
   flex: 1;
   background-color: #eee;
   text-align: center;
   margin-right: 10px;
   position: relative;
   padding: 0;
   margin: 0;
}


.cp_tab *, .cp_tab *:before, .cp_tab *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_tab {
	margin: 1em auto;
}
.cp_tab > input[type='radio'] {
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
	-webkit-appearance: none;
	        appearance: none;
	display: none;
}
.cp_tab .cp_tabpanel {
	display: none;
}
.cp_tab > input:first-child:checked ~ .cp_tabpanels > .cp_tabpanel:first-child,
.cp_tab > input:nth-child(3):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(2),
.cp_tab > input:nth-child(5):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(3),
.cp_tab > input:nth-child(7):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(4),
.cp_tab > input:nth-child(9):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(5),
.cp_tab > input:nth-child(11):checked ~ .cp_tabpanels > .cp_tabpanel:nth-child(6) {
	display: block;
}
.cp_tab > label {
	position: relative;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	border-bottom: 0;
}
.cp_tab > label:hover,
.cp_tab > input:focus + label {
	color: #0066cc;
}
.cp_tab > input:checked + label {
	margin-bottom: -1px;
	border-color: #cccccc;
	border-bottom: 1px solid #ffffff;/*背景色と同じ*/
	border-radius: 6px 6px 0 0;
}
.cp_tab .cp_tabpanel {
	padding: 0.5em 1em;
	border-top: 1px solid #cccccc;
}
@media (max-width: 480px) {
	.cp_tab {
		width: 100%;
		font-size: 0.8em;
	}
	.cp_tab label {
		padding: 0.5em;
	}
}


#cont{
   color:#FFF;
    font-weight: 100;
    font-size: 20px;
    line-height: 1;
    text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00, 0 0 40px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;
}
.localNavigation{
   text-align: center;
   background-color: #888;
   color: #fff;
   width: 250px;
}




.menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav {
   position: relative;
   background-color: rgb(5, 5, 5);
   padding: 20px;
   transition: 0.5s;
   border-radius: 50px;
   overflow: hidden;
   box-shadow: 0 8px 15px rgba(0,0,0,.2);
   margin-right: outo;
}

.menu {
   margin: 0;
   padding: 0;
   width: 0;
   overflow: hidden;
   transition: 0.5s;
}

.nav input:checked ~ .menu {
   width: 1300px;
}

.menu li {
   list-style: none;
   margin: 0 10px;
}

.menu li a {
   text-decoration: none;
   color: #666;
   text-transform: uppercase;
   font-weight: 600;
   transition: 0.5s;
}

.menu li a:hover {
   color: #ebee51;
}

.nav input {
   width: 50px;
   height: 50px;
   cursor: pointer;
   opacity: 0;
}

.nav span {
   position: absolute;
   left: 30px;
   width: 30px;
   height: 4px;
   border-radius: 50px;
   background-color: rgb(255, 255, 255);
   pointer-events: none;
   transition: 0.5s;
}

.nav input:checked ~ span {
   background-color: #ebee51;
}

.nav span:nth-child(2) {
   transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
   transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
   transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
   transform: translateY(0) rotate(45deg);
}


.content #cont {
   position: relative;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 8rem;
   text-align: center;
   letter-spacing: 2px;
   color: yellow;
   text-shadow: 0 0 1px, 0 0 1.2px, -1px -1px 1px #300, 0 -1px 1px #300, 1px -1px 1px #300, 1px 0 1px #300, 1px 1px 1px #300, 0 1px 1px #300, -1px 1px 1px #300, -1px 0 1px #300, 0 0 1.6px;
   filter: contrast(1.5)
 }
 
 .content #cont:before,
 .content #cont:after {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   content: attr(data-text)
 }
 
 .content #cont:before {
   color: #000;
   text-shadow: var(--ShadowC1);
   z-index: -1
 }
 
 .content #cont:after {
   color: rgba(110, 80, 60, .1);
   text-shadow: 0 0 .7px, 0 0 1.1px, 0 0 1.1px, 1px -1px 1px rgba(110, 80, 60, .8), -1px 1px 1px rgba(255, 255, 255, .8);
   filter: url(#light)
 }


 :root {
   --ShadowC1: 0 0 1px, 2px 0 1px #583008, 0 2px 1px #e8c098, 2px 1px 1px #583008, 1px 2px 1px #e8c098, 2px 2px 1px #487098, 3px 1px 1px #583008, 1px 3px 1px #e8c098, 3px 2px 1px #583008, 2px 3px 1px #e8c098, 3px 3px 1px #487098, 4px 2px 1px #583008, 2px 4px 1px #e8c098, 4px 3px 1px #583008, 3px 4px 1px #e8c098, 4px 4px 1px #487098, 5px 3px 1px #583008, 3px 5px 1px #e8c098, 5px 4px 1px #583008, 4px 5px 1px #e8c098, 5px 5px 1px #487098, 6px 4px 1px #583008, 4px 6px 1px #e8c098, 6px 5px 1px #583008, 5px 6px 1px #e8c098, 6px 6px 1px #487098, 7px 5px 1px #583008, 5px 7px 1px #e8c098, 7px 6px 1px #583008, 6px 7px 1px #e8c098, 7px 7px 1px #487098, 8px 6px 1px #583008, 6px 8px 1px #e8c098, 8px 7px 1px #583008, 7px 8px 1px #e8c098, 8px 8px 1px #487098, 9px 7px 1px #583008, 7px 9px 1px #e8c098, 9px 8px 1px #583008, 8px 9px 1px #e8c098, 9px 9px 1px #487098, 10px 8px 1px #583008, 8px 10px 1px #e8c098, 10px 9px 1px #583008, 9px 10px 1px #e8c098, 10px 10px 1px #487098, 11px 9px 1px #583008, 9px 11px 1px #e8c098, 11px 10px 1px #583008, 10px 11px 1px #e8c098, 11px 11px 1px #487098, 11px 11px 1px #666, 11px 12px 1px #666, 10px 12px 1px #666, 9px 12px 1px #666, 8px 11px 1px #666, 7px 10px 1px #666, 6px 9px 1px #666, 5px 8px 1px #666, 4px 7px 1px #666, 3px 6px 1px #666, 2px 5px 1px #666, 1px 4px 1px #666, 0 3px 1px #666, -1px 2px 1px #666, 20px 8px 8px rgba(0, 0, 0, .7);
 }

 



 