/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   padding: 0;
}

 header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   transition: .3s;
 }


 h1{
    font-size: 160px;
    text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00, 0 0 40px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;

 }
ul {
   text-align: right;
   font-size: 0%;
 }
  
 
 li {
   display: inline-block;
   font-size: 12px;
   height: 40px;
   width: 10%;
   text-align: center;
 }  

 li a{
    color: #000;
    }


    .flex { display: flex; 
      float: right;
      padding: 0 50px 30px 0;
   }
    .flex--column { flex-direction: column; }
    .flex--gap { margin: 0 -0.25em -0.5em; }
    .flex--gap > * { margin: 0 0.25em 0.5em; }
    @media (min-width: 37.5rem) {
     .flex--row\@sm { flex-direction: row; }
    }
    


.title1{
   height: 600px;
   background: url('nasa.jpg');
   width: 100%;
   height: 600px;
   background-size: cover;
   filter:grayscale(100%) ;
  transition: all 15s ease-out;
}
.title1:hover{
  filter:none
}

.tbox{
   position: relative;
    color:#FFF;
    font-weight: 100;
    font-size: 200px;
    padding: 0;
    margin: 0;
    line-height: 1;
   text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00, 0 0 40px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;

}

main{
   display: flex;
   min-height: 100vh;
   margin: 10px 0 10px 0;
}
.content{
   flex: 1;
   background-color: #eee;
   text-align: center;
   margin-right: 10px;

   position: relative;
    color:#FFF;
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00, 0 0 40px #fffb00, 0 0 70px #fffb00, 0 0 80px #fffb00, 0 0 100px #fffb00, 0 0 150px #fffb00;

}
.localNavigation{
   text-align: center;
   background-color: #888;
   color: #fff;
   width: 250px;
}




.menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav {
   position: relative;
   background-color: rgb(5, 5, 5);
   padding: 20px;
   transition: 0.5s;
   border-radius: 50px;
   overflow: hidden;
   box-shadow: 0 8px 15px rgba(0,0,0,.2);
   margin-right: outo;
}

.menu {
   margin: 0;
   padding: 0;
   width: 0;
   overflow: hidden;
   transition: 0.5s;
}

.nav input:checked ~ .menu {
   width: 1300px;
}

.menu li {
   list-style: none;
   margin: 0 10px;
}

.menu li a {
   text-decoration: none;
   color: #666;
   text-transform: uppercase;
   font-weight: 600;
   transition: 0.5s;
}

.menu li a:hover {
   color: #ebee51;
}

.nav input {
   width: 50px;
   height: 50px;
   cursor: pointer;
   opacity: 0;
}

.nav span {
   position: absolute;
   left: 30px;
   width: 30px;
   height: 4px;
   border-radius: 50px;
   background-color: #666;
   pointer-events: none;
   transition: 0.5s;
}

.nav input:checked ~ span {
   background-color: #ebee51;
}

.nav span:nth-child(2) {
   transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
   transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
   transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
   transform: translateY(0) rotate(45deg);
}

